div {
  text-align:justify;
  font-size: smaller;
}

a, a:visited {
  color: #87adc1;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}

a:hover{
  color: #039be5;
}

button {
  background-color: transparent !important;
  color: #666;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  margin-bottom: 10px;
  &:hover {
    color: #ddd !important;
  }
}

mat-icon{
  margin-right: 5px;
}
